<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> da PUC</h1>
    <p>      Bem-Vindo ao <%= title %><p>
    <p>      para continuar clique no botão abaixo:</p>
    <form action="https://gateway.watsonplatform.net/assistant/api" method="get"> 
      <button type="submit"> Link para o Chatbot</button>
    </form>
  </body>
</html>
